ion-footer {
    background-color: #343a40; // Color oscuro para el footer
    color: #fff;
    padding: 10px;
    border-top: 1px solid #495057; // Separación del contenido
  }
  
  ion-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ion-button {
    --background: #007bff; // Color de fondo del botón
    --color: #ffffff; // Color del texto del botón
    --border-radius: 4px; // Bordes redondeados
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    font-size: 1rem;
  }
  
  ion-button:hover {
    --background: #0056b3; // Color del botón al pasar el ratón
  }
  