<form (ngSubmit)="onSubmit()" class="login-form">
  <div class="form-group"><h1>Inicio de sesión</h1></div>
  
  <div class="form-group"> 
    <label for="username">Usuario:</label><br>
    <input type="text" [(ngModel)]="user.username" placeholder="username" class="form-control" id="username" name="username" autocomplete="username">
  </div>
  
  <div class="form-group">
    <label for="password">Password:</label><br>
    <div class="input-container">
      <input 
        [type]="showPassword ? 'text' : 'password'" 
        [(ngModel)]="user.password" 
        placeholder="Password" 
        class="form-control" 
        id="password" 
        name="password" 
        autocomplete="current-password"
      >
      <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
        <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
      </button>
    </div>
  </div>
  
  <div>
    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
    <a routerLink="/" class="btn btn-link">Volver al inicio</a>
  </div>
  <div class="register-link">
    <p>¿No tienes cuenta? <a routerLink="/register">Regístrate aquí</a></p>
  </div>
</form>
