<ion-header>
  <ion-toolbar>
    <ion-title>Hola {{ user?.fullName }}, bienvenido</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Cerrar sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Registro de Asistencia</h2>
  <p>Escanea el código QR para registrar tu asistencia.</p>
  <ion-button expand="full" (click)="generateQRCode()">Generar QR</ion-button>
  <!-- Aquí se mostrará el QR generado más adelante -->
</ion-content>
