<ion-header>
  <ion-toolbar>
    <ion-title>Historial de Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Fecha de la clase: {{ claseFecha }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let registro of historial">
        <ion-label>
          {{ registro.nombre }}: {{ registro.estado }}
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
